<ion-toolbar>
  <div class="row">
    <div class="col-2">
      <div class="imageLogo">
        <img src="../../../assets/imagenes/balon.png" alt="logo">
      </div>
    </div>
    <div class="col">
      <ion-title>
        {{ name }}
      </ion-title>
    </div>
  </div>
</ion-toolbar>
