<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="star"></ion-icon>
      <ion-label>Liga</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="shirt"></ion-icon>
      <ion-label>Equipos</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3">
      <ion-icon name="person"></ion-icon>
      <ion-label>Jugadores</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
